.dashboard {
    background-color: #171615;
    border: 1px solid #515759;    
    color: #FDFDFC;
    padding-left: 15rem;
    height: calc(100vh - 9rem);
    overflow-y: scroll
}

@media screen and (max-width: 768px)
{
    .dashboard {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.dashboard-title{
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #FDFDFC;
}

.dashboard-sub{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #FDFDFC;
}

.dashboard-info{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: calc(44vh - 10rem);
}

.dashboard-chart{
    background: #2C2D31;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: calc(60vh - 9rem);
}

@media screen and (max-width: 1024px)
{
    .dashboard-chart {
        width: 69vw;
    }
    @media screen and (max-width: 768px)
    {
        .dashboard-chart {
            width: 90vw;
        }
    }
}

.icon-contain{
    background: rgba(243, 242, 243, 0.51);
    border-radius: 8px;
    width: 45px;
    height: 45px;
    margin-top: 8px;
    margin-left: 20px;
}

.info-contain{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    color: #FDFDFC;
    margin-left: 20px;
}

.info-detail{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FDFDFC;
    margin-left: 20px;
}

.icon-icon{
    align-items: center;
}

text{ 
    fill: #FDFDFC !important;
}

.select-time option{
    color: #000000;
    background:none;
}
.select-time select{
    color: #ffffff;
    background:none;
}

.select-time {
    margin-left: auto; 
    margin-right: 10px;
    margin-top: 10px;
}